:root {
  --primary-color: #116466;
  --secondary-color: #2C3531;
  --tertiary-color: #FFCB9A;
  --quaternary-color: #D1E8E2;
}

body {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow: hidden;
}

h1, h2, h3 {
  margin: 0;
  text-shadow: 0 0 5px var(--secondary-color);
}

.app-wrapper {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* header section */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background: var(--quaternary-color);
  transition: all 0.5s ease-out;
}

.close {
  transform: rotate(180deg);
}

.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.close .btn-line:nth-child(2) {
  opacity: 0;
}

.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
/* end header section */

/* home section */
#home {
  padding: 4rem;
  height: 100vh;
  background: url(./assets/images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.lg-heading {
  font-size: 6rem;
  margin-top: 20vh;
}

.sm-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background-color: rgba(44, 53, 49, 0.5);
  box-shadow: 0 0 5px var(--secondary-color);
  font-style: italic;
}

.secondary-text {
  color: var(--tertiary-color);
}

.icon-link {
  font-size: 3.5rem;
  padding-left: 1.5rem;
  text-shadow: 0 0 5px var(--secondary-color);
  color: var(--secondary-color);
}

.icon-link:hover {
  color: var(--primary-color);
  transition: all 0.5s ease-out;
}
/* end home section */